<div class="search">
    <div class="input-group date" id="datetimepicker">
        <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
    </div>
</div>

<div class="list-container">
    {{> list}}
</div>
{{> book}}

